table,th,td {
    border: 1px solid black;
    border-collapse: collapse;
}

th,
td {
    padding: 10px;
}

th {
    background-color: lightgray;
}

td {
    cursor: pointer;
}

.booked {
    background-color: black;
}

.booked_user {
    background-color: #008CCE;
}